.hightlight {
  background-color: yellow;
  font-size: larger;
  color: red;
}

$border: .55px solid #CFD2D9;
:host {
  ::ng-deep {
    .fw-control {
      table {
        border-top: $border;
        border-left: $border;
      }

      td, th {
        padding: 4px 12px !important;
        font-size: 1.5rem;
        border-top: none;
        border-left: none;
        border-bottom: $border;
        border-right: $border;
      }

      table {
        border-spacing: 0;
      }

      th {
        background-color: #e8edf5;
        color: #002e90;
        text-align: right;
      }
    }

  }
}
