<div>
  <uofx-form-field-name [name]="name" [required]="required">
  </uofx-form-field-name>
</div>
<div class="fw-control">
  <uofx-error-block [uofErrorI18nKeys]="errorMessage" [showHeader]="true"></uofx-error-block>
  <table [formGroup]="form">
    <tr>
      <th><span uofx-required>員工編號</span></th>
      <td colspan="3">
        <div *ngIf="exProps?.isShowEmpNo">
          <label class="center-align" for="empNo">{{empNo}}</label>
          <uofx-form-error-tip [control]="form.controls.empNo" [requiredText]="'EmpNo必填'"></uofx-form-error-tip>
        </div>
      </td>
    </tr>
    <tr>
      <th><span uofx-required>行動電話</span></th>
      <td>
        <input type="text" pInputText formControlName="mobile" [disabled]="!editable" />
        <uofx-form-error-tip [control]="mobileCtrl">
          <div *ngIf="mobileCtrl?.hasError('minlength') || mobileCtrl?.hasError('invalidMobile')">
            行動電話需有10碼數字
          </div>
        </uofx-form-error-tip>
      </td>
      <th><span uofx-required>申請日期</span></th>
      <td>
        <p-calendar appendTo="body" dateFormat="dd.mm.yy" formControlName="applyDate" [disabled]="!editable"></p-calendar>
        <uofx-form-error-tip [control]="applyDateCtrl">
          <div *ngIf="applyDateCtrl?.hasError('required') || applyDateCtrl?.hasError('invalidApplyDate')">
            日期必填且不可超出 {{exProps.checkDays}} 天範圍
          </div>
        </uofx-form-error-tip>
      </td>
    </tr>
    <tr>
      <th><span>職務代理人</span></th>
      <td colspan="3">
        <uofx-user-select [corpId]="corpId"></uofx-user-select>
      </td>
    </tr>
  </table>
</div>
