<div class="fw-control">
  <tr>
    <th><span uofx-required>基本資料</span>
    </th>
    <td colspan="3"></td>
  </tr>

  <table >
    <tr>
      <th><span uofx-required>Advanced-Field Design model~ </span>
      </th>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td >
        <span >員工名稱</span>
        <label for="lblEmpName"></label>
      </td>
      <td colspan="2">
        <span >員工編號</span>
        <label for="lblEmpno"></label>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <span uofx-required>行動電話</span>
        <ejs-textbox uofx-required>
        </ejs-textbox>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <span uofx-required>申請日期</span>
        <ejs-datepicker placeholder="請選擇申請日期" ></ejs-datepicker>

      </td>
    </tr>

  </table>
</div>
