<div>
  <uofx-form-field-name [name]="name" [required]="required">
  </uofx-form-field-name>
</div>
<div class="fw-control">
  <table>
    <tr>
      <th><span uofx-required>員工編號</span></th>
      <td colspan="3">88888888</td>
    </tr>
    <tr>
      <th><span uofx-required>行動電話</span></th>
      <td>
        <input type="text" pInputText />
      </td>
      <th><span uofx-required>申請日期</span></th>
      <td>
        <p-calendar dateFormat="dd.mm.yy"></p-calendar>
      </td>
    </tr>
    <tr>
      <th><span>職務代理人</span></th>
      <td colspan="3">
        <uofx-user-select [corpId]="corpId" [multiple]="false" [types]="[2]"></uofx-user-select>
      </td>
    </tr>
  </table>
</div>
