<div>
  <uofx-form-field-name [name]="name" [required]="required">
  </uofx-form-field-name>
</div>
<div class="fw-control">
  <tr>
    <th><span uofx-required>基本資料</span>
    </th>
    <td colspan="3"></td>
  </tr>
  <table>
    <tr>
      <th><span uofx-required>Advanced-Field Design model~ </span>
      </th>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td>
        <span>員工名稱</span>
        <label for="lblEmpName"></label>
      </td>
      <td colspan="2">
        <span>員工編號</span>
        <label for="lblEmpno"></label>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <span uofx-required>行動電話</span>
        <span>0988123456</span>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <span uofx-required>申請日期</span>
        <span>2023/12/1</span>
      </td>
    </tr>

  </table>
</div>
