<form [formGroup]="form">
  <section class="padding-horizontal-2x">
    <div class="margin-vertical-2x">
      <p-checkbox formControlName="isShowEmpNo" inputId="isShowEmpNo" [disabled]="!editable"></p-checkbox>
      <label for="isShowEmpNo">顯示員工編號</label>
    </div>
    <div class="margin-vertical-2x">
      <p-checkbox formControlName="isCheckDate" #mCheck inputId="isCheckDate" [disabled]="!editable"></p-checkbox>
      <label for="isCheckDate">檢查申請日期符合區間</label>
    </div>
    <div class="margin-vertical-2x">
      <span>申請日期範圍</span>&nbsp; &nbsp;
      <input type="text" pInputText formControlName="checkDays" [disabled]="!mCheck.checked" />
      <uofx-form-error-tip [control]="checkDaysCtrl">
        <div *ngIf="checkDaysCtrl.hasError('required') || checkDaysCtrl.hasError('invalidMobile')">
          請輸入天數
        </div>
      </uofx-form-error-tip>
    </div>
  </section>
</form>
