<form [formGroup]="form">
  <section class="padding-horizontal-2x">
    <div class="margin-vertical-2x">
      <ejs-checkbox formControlName="isShowEmpNo" label="顯示員工編號" [disabled]="!editable">
      </ejs-checkbox>
    </div>
    <div class="margin-vertical-2x">
      <ejs-checkbox formControlName="isCheckDate" #mCheck label="檢查申請日期符合區間" [disabled]="!editable">
      </ejs-checkbox>
    </div>
    <div class="margin-vertical-2x">
      <span>申請日期範圍</span>&nbsp; &nbsp;
      <ejs-textbox cssClass="e-outline" [readonly]="!mCheck.checked" formControlName="checkDays" width="100">
      </ejs-textbox>
      <uofx-form-error-tip [control]="checkDaysCtrl">
        <div *ngIf="checkDaysCtrl.hasError('required') || checkDaysCtrl.hasError('invalidMobile')">
          請輸入天數
        </div>
      </uofx-form-error-tip>
    </div>
  </section>
</form>
