<div>
  <uofx-form-field-name [name]="name" [required]="required">
  </uofx-form-field-name>
</div>
<div class="fw-control">
  <uofx-error-block [uofErrorI18nKeys]="errorMessage" [showHeader]="true"></uofx-error-block>
  <table [formGroup]="form">
    <tr>
      <th><span uofx-required>員工編號</span></th>
      <td>
        <div *ngIf="exProps?.isShowEmpNo">
          <label class="center-align" for="empNo">{{empNo}}</label>
          <div *ngIf="!empNo && form.controls.invalid">
            EmpNo必填
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th><span uofx-required>行動電話</span></th>
      <td>
        <ejs-textbox cssClass="e-outline" formControlName="mobile" [enabled]="editable">
        </ejs-textbox>
        <uofx-error-tip [control]="mobileCtrl">
          <div *ngIf="mobileCtrl?.hasError('minlength') || mobileCtrl?.hasError('invalidMobile')">
            行動電話需有10碼數字
          </div>
        </uofx-error-tip>
      </td>
    </tr>
    <tr>
      <th><span uofx-required>申請日期</span></th>
      <td>
        <ejs-datepicker cssClass="e-outline" formControlName="applyDate" [enabled]="editable"
          format="yyyy/MM/dd"></ejs-datepicker>
        <uofx-error-tip [control]="applyDateCtrl">
          <div *ngIf="applyDateCtrl?.hasError('required') || applyDateCtrl?.hasError('invalidApplyDate')">
            日期必填且不可超出 {{exProps.checkDays}} 天範圍
          </div>
        </uofx-error-tip>
      </td>
    </tr>
  </table>
</div>
