<div>
  <uofx-form-field-name [name]="name"
    [required]="required">
  </uofx-form-field-name>
</div>
<div class="fw-control">
<uofx-error-block [uofErrorI18nKeys]="errorMessage"  [showHeader]="true"></uofx-error-block>
<table [formGroup]="form">
  <tr>
    <td>
      <div *ngIf="exProps?.isShowEmpNo">
        <span>員工編號</span>

        <label class="center-align" for="empNo">{{empNo}}</label>
        <div *ngIf="!empNo && form.controls.invalid">
          EmpNo必填
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>

      <span>行動電話</span>&nbsp;&nbsp;&nbsp;
      <ejs-textbox formControlName="mobile" required width="100" [enabled]="editable">
      </ejs-textbox>


      <!-- <div class="field-message"
        *ngIf="form.controls.mobile.hasError('minlength') || form.controls.mobile.hasError('invalidMobile')">
        行動電話需有10碼數字
      </div> -->
      <uofx-error-tip [control]="mobileCtrl">
        <div *ngIf="mobileCtrl?.hasError('minlength') || mobileCtrl?.hasError('invalidMobile')">
          行動電話需有10碼數字
        </div>
      </uofx-error-tip>

    </td>
  </tr>
  <tr>
    <td>
      <span>申請日期</span>&nbsp; &nbsp;
      <ejs-datepicker formControlName="applyDate" required [enabled]="editable" format="yyyy/MM/dd"></ejs-datepicker>
      <!-- <div [class.hightlight]="form.controls['checkDays'].invalid" *ngIf="form.dirty && form.controls['checkDays'].invalid && getFormControl('checkDays').errors?.['required']">請輸入天數</div>
        <div [class.hightlight]="form.controls['checkDays'].invalid" *ngIf="form.dirty && form.controls['checkDays'].invalid && getFormControl('checkDays').errors?.['invalid']">請輸入數字</div> -->

      <uofx-error-tip [control]="applyDateCtrl">
        <div *ngIf="applyDateCtrl?.hasError('required') || applyDateCtrl?.hasError('invalidApplyDate')">
          日期必填且不可超出 {{exProps.checkDays}} 天範圍
        </div>
      </uofx-error-tip>

    </td>
  </tr>
</table>
</div>
